# ignore everything in root
# and not files with extensions
# but not in subfolders
/*
!/*/
!/*.*

# ignore data
/data/

# Doxygen output
/doc/html/

# LaTeX output
/pubs/*/*.pdf
!/pubs/*/*/*.pdf
!/pubs/figures/*.pdf

# LaTeX temporary files
/pubs/**/*-converted-to.*
/pubs/**/*.aux
/pubs/**/*.out
/pubs/**/*.log
/pubs/**/*.dvi
/pubs/**/*.synctex.gz
/pubs/**/*.toc
/pubs/**/*.nav
/pubs/**/*.snm

# well known temporary files
*~
/*.bin
/*.png
/*.svg
/*.txt
/build*/

# build files
/Makefile
/src/Makefile*
/src/**/*.o
/src/**/*.d
/CMakeFiles
/CMakeLists.txt.user
/build.ninja
/rules.ninja
/.ninja_deps
/.ninja_log
/cmake_install.cmake
/PET.cbp
