*/**/*.o
*/**/*.d
/data/
*/*.aux
*/*.log
*/*.pdf
*/*.dvi
*/*.synctex.gz
*/*.toc
*/*.nav
*/*.snm
doc/html/
*~
*.bin
*.png
*.svg
*.txt
/build*/
/PET-build*/
/src/PET.mk
/src/*/*
!/src/*/*.*
/src/*/*.d
/src/*/*.o
*.pro.user
