[submodule "lib/catch"]
	path = lib/catch
	url = ../Catch.git
[submodule "lib/cmdline"]
	path = lib/cmdline
	url = ../cmdline.git
[submodule "pubs/beamer"]
	path = pubs/beamer
	url = ../beamer-torino-theme.git
