[submodule "lib/catch"]
	path = lib/catch
	url = git://github.com/ujhpc/Catch.git
	ignore = all
[submodule "lib/cmdline"]
	path = lib/cmdline
	url = git://github.com/ujhpc/cmdline.git
	ignore = all
[submodule "mkspecs"]
	path = mkspecs
	url = git://github.com/ujhpc/mkspecs_hpc.git
	ignore = all
