/*
!/*/
!/*.*
/data/
/doc/*.pdf
/doc/html/
**/*-converted-to.*
**/*.aux
**/*.out
**/*.log
**/*.dvi
**/*.synctex.gz
**/*.toc
**/*.nav
**/*.snm
*~
/*.bin
/*.png
/*.svg
/*.txt
/build*/
*.pro.user
/Makefile
/src/Makefile*
/src/**/*.o
/src/**/*.d
/.qmake.*
*.o
